
# PlanAhead Generated IO constraints 

NET "CHIP1_DATA[3]" IOSTANDARD = LVCMOS33;
NET "CHIP1_DATA[2]" IOSTANDARD = LVCMOS33;
NET "CHIP1_DATA[1]" IOSTANDARD = LVCMOS33;
NET "CHIP1_DATA[0]" IOSTANDARD = LVCMOS33;
NET "CHIP2_DATA[3]" IOSTANDARD = LVCMOS33;
NET "CHIP2_DATA[2]" IOSTANDARD = LVCMOS33;
NET "CHIP2_DATA[1]" IOSTANDARD = LVCMOS33;
NET "CHIP2_DATA[0]" IOSTANDARD = LVCMOS33;
NET "SEED[7]" IOSTANDARD = LVCMOS33;
NET "SEED[6]" IOSTANDARD = LVCMOS33;
NET "SEED[5]" IOSTANDARD = LVCMOS33;
NET "SEED[4]" IOSTANDARD = LVCMOS33;
NET "SEED[3]" IOSTANDARD = LVCMOS33;
NET "SEED[2]" IOSTANDARD = LVCMOS33;
NET "SEED[1]" IOSTANDARD = LVCMOS33;
NET "SEED[0]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[15]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[14]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[13]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[12]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[11]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[10]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[9]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[8]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[7]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[6]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[5]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[4]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[3]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[2]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[1]" IOSTANDARD = LVCMOS33;
NET "LED_OUT[0]" IOSTANDARD = LVCMOS33;
NET "COUNTER_CLK" IOSTANDARD = LVCMOS33;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "COUNTER_RST" IOSTANDARD = LVCMOS33;
NET "INIT" IOSTANDARD = LVCMOS33;
NET "RST" IOSTANDARD = LVCMOS33;
NET "WE_BAR" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "SEED[7]" LOC = U9;
NET "SEED[6]" LOC = U8;
NET "SEED[5]" LOC = R7;
NET "SEED[4]" LOC = R6;
NET "SEED[3]" LOC = R5;
NET "SEED[2]" LOC = V7;
NET "SEED[1]" LOC = V6;
NET "SEED[0]" LOC = V5;
NET "LED_OUT[15]" LOC = P2;
NET "LED_OUT[14]" LOC = R2;
NET "LED_OUT[13]" LOC = U1;
NET "LED_OUT[12]" LOC = P5;
NET "LED_OUT[11]" LOC = R1;
NET "LED_OUT[10]" LOC = V1;
NET "LED_OUT[9]" LOC = U3;
NET "LED_OUT[8]" LOC = V4;
NET "LED_OUT[7]" LOC = U6;
NET "LED_OUT[6]" LOC = U7;
NET "LED_OUT[5]" LOC = T4;
NET "LED_OUT[4]" LOC = T5;
NET "LED_OUT[3]" LOC = T6;
NET "LED_OUT[2]" LOC = R8;
NET "LED_OUT[1]" LOC = V9;
NET "LED_OUT[0]" LOC = T8;
NET "CLK" LOC = E3;
NET "INIT" LOC = V10;
NET "RST" LOC = E16;
NET "WE_BAR" LOC = G14;
NET "COUNTER_CLK" LOC = V15;
NET "COUNTER_RST" LOC = U11;
NET "CHIP1_DATA[0]" LOC = B13;
NET "CHIP1_DATA[1]" LOC = F14;
NET "CHIP1_DATA[2]" LOC = D17;
NET "CHIP1_DATA[3]" LOC = E17;
NET "CHIP2_DATA[3]" LOC = E18;
NET "CHIP2_DATA[2]" LOC = D18;
NET "CHIP2_DATA[1]" LOC = C17;
NET "CHIP2_DATA[0]" LOC = G13;
