//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 15 17:31:34 2016
//! **************************************************************************

SCHEMATIC START;
COMP "INIT" LOCATE = SITE "V10" LEVEL 1;
COMP "SEED<2>" LOCATE = SITE "V7" LEVEL 1;
COMP "SEED<1>" LOCATE = SITE "V6" LEVEL 1;
COMP "SEED<4>" LOCATE = SITE "R6" LEVEL 1;
COMP "SEED<3>" LOCATE = SITE "R5" LEVEL 1;
COMP "SEED<0>" LOCATE = SITE "V5" LEVEL 1;
COMP "SEED<6>" LOCATE = SITE "U8" LEVEL 1;
COMP "SEED<5>" LOCATE = SITE "R7" LEVEL 1;
COMP "SEED<7>" LOCATE = SITE "U9" LEVEL 1;
COMP "RST" LOCATE = SITE "E16" LEVEL 1;
COMP "COUNTER_CLK" LOCATE = SITE "V15" LEVEL 1;
COMP "CHIP2_DATA<3>" LOCATE = SITE "E18" LEVEL 1;
COMP "CHIP2_DATA<2>" LOCATE = SITE "D18" LEVEL 1;
COMP "CHIP2_DATA<1>" LOCATE = SITE "C17" LEVEL 1;
COMP "CHIP2_DATA<0>" LOCATE = SITE "G13" LEVEL 1;
COMP "CHIP1_DATA<3>" LOCATE = SITE "E17" LEVEL 1;
COMP "CHIP1_DATA<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "CHIP1_DATA<1>" LOCATE = SITE "F14" LEVEL 1;
COMP "CHIP1_DATA<0>" LOCATE = SITE "B13" LEVEL 1;
COMP "COUNTER_RST" LOCATE = SITE "U11" LEVEL 1;
COMP "LED_OUT<7>" LOCATE = SITE "U6" LEVEL 1;
COMP "LED_OUT<8>" LOCATE = SITE "V4" LEVEL 1;
COMP "LED_OUT<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "LED_OUT<6>" LOCATE = SITE "U7" LEVEL 1;
COMP "LED_OUT<9>" LOCATE = SITE "U3" LEVEL 1;
COMP "LED_OUT<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "LED_OUT<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "LED_OUT<4>" LOCATE = SITE "T5" LEVEL 1;
COMP "LED_OUT<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "LED_OUT<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "LED_OUT<11>" LOCATE = SITE "R1" LEVEL 1;
COMP "LED_OUT<12>" LOCATE = SITE "P5" LEVEL 1;
COMP "LED_OUT<13>" LOCATE = SITE "U1" LEVEL 1;
COMP "LED_OUT<14>" LOCATE = SITE "R2" LEVEL 1;
COMP "LED_OUT<10>" LOCATE = SITE "V1" LEVEL 1;
COMP "LED_OUT<15>" LOCATE = SITE "P2" LEVEL 1;
COMP "WE_BAR" LOCATE = SITE "G14" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

