//! **************************************************************************
// Written by: Map P.20131013 on Sat Apr 23 22:03:20 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Q" LOCATE = SITE "T6" LEVEL 1;
COMP "RX" LOCATE = SITE "N6" LEVEL 1;
COMP "TX" LOCATE = SITE "U8" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
COMP "RST" LOCATE = SITE "U5" LEVEL 1;
COMP "WE_BAR_1" LOCATE = SITE "K13" LEVEL 1;
COMP "WE_BAR_2" LOCATE = SITE "N8" LEVEL 1;
COMP "WE_BAR_3" LOCATE = SITE "V6" LEVEL 1;
COMP "WE_BAR_4" LOCATE = SITE "P16" LEVEL 1;
COMP "COUNTER_RST" LOCATE = SITE "N14" LEVEL 1;
COMP "SHCP" LOCATE = SITE "V11" LEVEL 1;
COMP "STCP" LOCATE = SITE "N9" LEVEL 1;
COMP "VT_EN" LOCATE = SITE "M13" LEVEL 1;
COMP "COUNTER_CLK_1" LOCATE = SITE "L16" LEVEL 1;
COMP "COUNTER_CLK_2" LOCATE = SITE "V8" LEVEL 1;
COMP "COUNTER_CLK_3" LOCATE = SITE "V5" LEVEL 1;
COMP "COUNTER_CLK_4" LOCATE = SITE "V4" LEVEL 1;
COMP "OE_BAR" LOCATE = SITE "N11" LEVEL 1;
COMP "PL_BAR" LOCATE = SITE "V15" LEVEL 1;
COMP "MR_BAR" LOCATE = SITE "U18" LEVEL 1;
COMP "SIGNALS<100>" LOCATE = SITE "V7" LEVEL 1;
COMP "SIGNALS<101>" LOCATE = SITE "P8" LEVEL 1;
COMP "SIGNALS<102>" LOCATE = SITE "L13" LEVEL 1;
COMP "SIGNALS<110>" LOCATE = SITE "T10" LEVEL 1;
COMP "SIGNALS<103>" LOCATE = SITE "K16" LEVEL 1;
COMP "SIGNALS<111>" LOCATE = SITE "V9" LEVEL 1;
COMP "SIGNALS<104>" LOCATE = SITE "T18" LEVEL 1;
COMP "SIGNALS<112>" LOCATE = SITE "M11" LEVEL 1;
COMP "SIGNALS<120>" LOCATE = SITE "L14" LEVEL 1;
COMP "SIGNALS<105>" LOCATE = SITE "V16" LEVEL 1;
COMP "SIGNALS<113>" LOCATE = SITE "U13" LEVEL 1;
COMP "SIGNALS<121>" LOCATE = SITE "K12" LEVEL 1;
COMP "SIGNALS<106>" LOCATE = SITE "V14" LEVEL 1;
COMP "SIGNALS<114>" LOCATE = SITE "U15" LEVEL 1;
COMP "SIGNALS<122>" LOCATE = SITE "U11" LEVEL 1;
COMP "SIGNALS<107>" LOCATE = SITE "V12" LEVEL 1;
COMP "SIGNALS<115>" LOCATE = SITE "U17" LEVEL 1;
COMP "SIGNALS<123>" LOCATE = SITE "M10" LEVEL 1;
COMP "SIGNALS<108>" LOCATE = SITE "T11" LEVEL 1;
COMP "SIGNALS<116>" LOCATE = SITE "P15" LEVEL 1;
COMP "SIGNALS<124>" LOCATE = SITE "R8" LEVEL 1;
COMP "SIGNALS<109>" LOCATE = SITE "P11" LEVEL 1;
COMP "SIGNALS<117>" LOCATE = SITE "N15" LEVEL 1;
COMP "SIGNALS<125>" LOCATE = SITE "M8" LEVEL 1;
COMP "SIGNALS<118>" LOCATE = SITE "L15" LEVEL 1;
COMP "SIGNALS<119>" LOCATE = SITE "M14" LEVEL 1;
COMP "CS_BAR_1" LOCATE = SITE "V13" LEVEL 1;
COMP "CS_BAR_2" LOCATE = SITE "T8" LEVEL 1;
COMP "CS_BAR_3" LOCATE = SITE "P7" LEVEL 1;
COMP "CS_BAR_4" LOCATE = SITE "N16" LEVEL 1;
COMP "SIGNALS<10>" LOCATE = SITE "B12" LEVEL 1;
COMP "SIGNALS<11>" LOCATE = SITE "F12" LEVEL 1;
COMP "SIGNALS<12>" LOCATE = SITE "F13" LEVEL 1;
COMP "SIGNALS<20>" LOCATE = SITE "A12" LEVEL 1;
COMP "SIGNALS<13>" LOCATE = SITE "D14" LEVEL 1;
COMP "SIGNALS<21>" LOCATE = SITE "E12" LEVEL 1;
COMP "SIGNALS<14>" LOCATE = SITE "B16" LEVEL 1;
COMP "SIGNALS<22>" LOCATE = SITE "E13" LEVEL 1;
COMP "SIGNALS<30>" LOCATE = SITE "A2" LEVEL 1;
COMP "SIGNALS<15>" LOCATE = SITE "D17" LEVEL 1;
COMP "SIGNALS<23>" LOCATE = SITE "C14" LEVEL 1;
COMP "SIGNALS<31>" LOCATE = SITE "A4" LEVEL 1;
COMP "SIGNALS<16>" LOCATE = SITE "F17" LEVEL 1;
COMP "SIGNALS<24>" LOCATE = SITE "A16" LEVEL 1;
COMP "SIGNALS<32>" LOCATE = SITE "C6" LEVEL 1;
COMP "SIGNALS<40>" LOCATE = SITE "F11" LEVEL 1;
COMP "SIGNALS<17>" LOCATE = SITE "G16" LEVEL 1;
COMP "SIGNALS<25>" LOCATE = SITE "D18" LEVEL 1;
COMP "SIGNALS<33>" LOCATE = SITE "A7" LEVEL 1;
COMP "SIGNALS<41>" LOCATE = SITE "G11" LEVEL 1;
COMP "SIGNALS<18>" LOCATE = SITE "H13" LEVEL 1;
COMP "SIGNALS<26>" LOCATE = SITE "F18" LEVEL 1;
COMP "SIGNALS<34>" LOCATE = SITE "A8" LEVEL 1;
COMP "SIGNALS<42>" LOCATE = SITE "C10" LEVEL 1;
COMP "SIGNALS<50>" LOCATE = SITE "H12" LEVEL 1;
COMP "SIGNALS<19>" LOCATE = SITE "J13" LEVEL 1;
COMP "SIGNALS<27>" LOCATE = SITE "G18" LEVEL 1;
COMP "SIGNALS<35>" LOCATE = SITE "E8" LEVEL 1;
COMP "SIGNALS<43>" LOCATE = SITE "D9" LEVEL 1;
COMP "SIGNALS<51>" LOCATE = SITE "H15" LEVEL 1;
COMP "SIGNALS<28>" LOCATE = SITE "H14" LEVEL 1;
COMP "SIGNALS<36>" LOCATE = SITE "A9" LEVEL 1;
COMP "SIGNALS<44>" LOCATE = SITE "G8" LEVEL 1;
COMP "SIGNALS<52>" LOCATE = SITE "F14" LEVEL 1;
COMP "SIGNALS<60>" LOCATE = SITE "G13" LEVEL 1;
COMP "SIGNALS<29>" LOCATE = SITE "K14" LEVEL 1;
COMP "SIGNALS<37>" LOCATE = SITE "F9" LEVEL 1;
COMP "SIGNALS<45>" LOCATE = SITE "D8" LEVEL 1;
COMP "SIGNALS<53>" LOCATE = SITE "F15" LEVEL 1;
COMP "SIGNALS<61>" LOCATE = SITE "H16" LEVEL 1;
COMP "SIGNALS<38>" LOCATE = SITE "A11" LEVEL 1;
COMP "SIGNALS<46>" LOCATE = SITE "F7" LEVEL 1;
COMP "SIGNALS<54>" LOCATE = SITE "E16" LEVEL 1;
COMP "SIGNALS<62>" LOCATE = SITE "G14" LEVEL 1;
COMP "SIGNALS<70>" LOCATE = SITE "E11" LEVEL 1;
COMP "SIGNALS<39>" LOCATE = SITE "C11" LEVEL 1;
COMP "SIGNALS<47>" LOCATE = SITE "B6" LEVEL 1;
COMP "SIGNALS<55>" LOCATE = SITE "C17" LEVEL 1;
COMP "SIGNALS<63>" LOCATE = SITE "F16" LEVEL 1;
COMP "SIGNALS<71>" LOCATE = SITE "F10" LEVEL 1;
COMP "SIGNALS<48>" LOCATE = SITE "C5" LEVEL 1;
COMP "SIGNALS<56>" LOCATE = SITE "C15" LEVEL 1;
COMP "SIGNALS<64>" LOCATE = SITE "E18" LEVEL 1;
COMP "SIGNALS<72>" LOCATE = SITE "A10" LEVEL 1;
COMP "SIGNALS<80>" LOCATE = SITE "L12" LEVEL 1;
COMP "SIGNALS<49>" LOCATE = SITE "B3" LEVEL 1;
COMP "SIGNALS<57>" LOCATE = SITE "B14" LEVEL 1;
COMP "SIGNALS<65>" LOCATE = SITE "C18" LEVEL 1;
COMP "SIGNALS<73>" LOCATE = SITE "C9" LEVEL 1;
COMP "SIGNALS<81>" LOCATE = SITE "K15" LEVEL 1;
COMP "SIGNALS<58>" LOCATE = SITE "C13" LEVEL 1;
COMP "SIGNALS<66>" LOCATE = SITE "A15" LEVEL 1;
COMP "SIGNALS<74>" LOCATE = SITE "F8" LEVEL 1;
COMP "SIGNALS<82>" LOCATE = SITE "T17" LEVEL 1;
COMP "SIGNALS<90>" LOCATE = SITE "N7" LEVEL 1;
COMP "SIGNALS<59>" LOCATE = SITE "D12" LEVEL 1;
COMP "SIGNALS<67>" LOCATE = SITE "A14" LEVEL 1;
COMP "SIGNALS<75>" LOCATE = SITE "C8" LEVEL 1;
COMP "SIGNALS<83>" LOCATE = SITE "U16" LEVEL 1;
COMP "SIGNALS<91>" LOCATE = SITE "U7" LEVEL 1;
COMP "SIGNALS<68>" LOCATE = SITE "A13" LEVEL 1;
COMP "SIGNALS<76>" LOCATE = SITE "E6" LEVEL 1;
COMP "SIGNALS<84>" LOCATE = SITE "T14" LEVEL 1;
COMP "SIGNALS<92>" LOCATE = SITE "R7" LEVEL 1;
COMP "SIGNALS<69>" LOCATE = SITE "C12" LEVEL 1;
COMP "SIGNALS<77>" LOCATE = SITE "A6" LEVEL 1;
COMP "SIGNALS<85>" LOCATE = SITE "T12" LEVEL 1;
COMP "SIGNALS<93>" LOCATE = SITE "N5" LEVEL 1;
COMP "SIGNALS<78>" LOCATE = SITE "A5" LEVEL 1;
COMP "SIGNALS<86>" LOCATE = SITE "R11" LEVEL 1;
COMP "SIGNALS<94>" LOCATE = SITE "R5" LEVEL 1;
COMP "SIGNALS<79>" LOCATE = SITE "A3" LEVEL 1;
COMP "SIGNALS<87>" LOCATE = SITE "N10" LEVEL 1;
COMP "SIGNALS<95>" LOCATE = SITE "R3" LEVEL 1;
COMP "SIGNALS<88>" LOCATE = SITE "R10" LEVEL 1;
COMP "SIGNALS<96>" LOCATE = SITE "T3" LEVEL 1;
COMP "SIGNALS<89>" LOCATE = SITE "T9" LEVEL 1;
COMP "SIGNALS<97>" LOCATE = SITE "T5" LEVEL 1;
COMP "SIGNALS<98>" LOCATE = SITE "P6" LEVEL 1;
COMP "SIGNALS<99>" LOCATE = SITE "T7" LEVEL 1;
COMP "SIGNALS<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "SIGNALS<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "SIGNALS<2>" LOCATE = SITE "D6" LEVEL 1;
COMP "SIGNALS<3>" LOCATE = SITE "C7" LEVEL 1;
COMP "SIGNALS<4>" LOCATE = SITE "B8" LEVEL 1;
COMP "SIGNALS<5>" LOCATE = SITE "E7" LEVEL 1;
COMP "SIGNALS<6>" LOCATE = SITE "B9" LEVEL 1;
COMP "SIGNALS<7>" LOCATE = SITE "G9" LEVEL 1;
COMP "SIGNALS<8>" LOCATE = SITE "B11" LEVEL 1;
COMP "SIGNALS<9>" LOCATE = SITE "D11" LEVEL 1;
SCHEMATIC END;

