NET "CLK" IOSTANDARD = LVCMOS33;
NET "COUNTER_CLK_1" IOSTANDARD = LVCMOS33;
NET "COUNTER_CLK_2" IOSTANDARD = LVCMOS33;
NET "COUNTER_CLK_3" IOSTANDARD = LVCMOS33;
NET "COUNTER_CLK_4" IOSTANDARD = LVCMOS33;
NET "COUNTER_RST" IOSTANDARD = LVCMOS33;
NET "MR_BAR" IOSTANDARD = LVCMOS33;
NET "CS_BAR_1" IOSTANDARD = LVCMOS33;
NET "CS_BAR_2" IOSTANDARD = LVCMOS33;
NET "CS_BAR_3" IOSTANDARD = LVCMOS33;
NET "CS_BAR_4" IOSTANDARD = LVCMOS33;
NET "OE_BAR" IOSTANDARD = LVCMOS33;
NET "PL_BAR" IOSTANDARD = LVCMOS33;
NET "Q" IOSTANDARD = LVCMOS33;
NET "RX" IOSTANDARD = LVCMOS33;
NET "RST" IOSTANDARD = LVCMOS33;
NET "STCP" IOSTANDARD = LVCMOS33;
NET "SHCP" IOSTANDARD = LVCMOS33;
NET "TX" IOSTANDARD = LVCMOS33;
NET "WE_BAR_1" IOSTANDARD = LVCMOS33;
NET "WE_BAR_2" IOSTANDARD = LVCMOS33;
NET "WE_BAR_3" IOSTANDARD = LVCMOS33;
NET "WE_BAR_4" IOSTANDARD = LVCMOS33;
NET "VT_EN" IOSTANDARD = LVCMOS33;
NET "SIGNALS[127]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[126]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[125]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[124]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[123]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[122]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[121]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[120]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[119]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[118]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[117]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[116]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[115]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[114]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[113]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[112]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[111]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[110]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[109]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[108]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[107]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[106]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[105]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[104]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[103]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[102]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[101]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[100]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[99]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[98]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[97]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[96]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[95]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[94]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[93]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[92]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[91]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[90]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[89]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[88]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[87]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[86]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[85]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[84]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[83]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[82]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[81]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[80]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[79]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[78]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[77]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[76]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[75]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[74]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[73]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[72]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[71]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[70]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[69]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[68]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[67]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[66]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[65]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[64]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[63]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[62]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[61]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[60]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[59]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[58]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[57]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[56]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[55]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[54]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[53]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[52]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[51]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[50]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[49]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[48]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[47]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[46]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[45]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[44]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[43]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[42]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[41]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[40]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[39]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[38]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[37]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[36]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[35]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[34]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[33]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[32]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[31]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[30]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[29]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[28]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[27]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[26]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[25]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[24]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[23]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[22]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[21]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[20]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[19]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[18]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[17]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[16]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[15]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[14]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[13]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[12]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[11]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[10]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[9]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[8]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[7]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[6]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[5]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[4]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[3]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[2]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[1]" IOSTANDARD = LVCMOS33;
NET "SIGNALS[0]" IOSTANDARD = LVCMOS33;

NET "SIGNALS[127]" SLEW = SLOW;
NET "SIGNALS[126]" SLEW = SLOW;
NET "SIGNALS[125]" SLEW = SLOW;
NET "SIGNALS[124]" SLEW = SLOW;
NET "SIGNALS[123]" SLEW = SLOW;
NET "SIGNALS[122]" SLEW = SLOW;
NET "SIGNALS[121]" SLEW = SLOW;
NET "SIGNALS[120]" SLEW = SLOW;
NET "SIGNALS[119]" SLEW = SLOW;
NET "SIGNALS[118]" SLEW = SLOW;
NET "SIGNALS[117]" SLEW = SLOW;
NET "SIGNALS[116]" SLEW = SLOW;
NET "SIGNALS[115]" SLEW = SLOW;
NET "SIGNALS[114]" SLEW = SLOW;
NET "SIGNALS[113]" SLEW = SLOW;
NET "SIGNALS[112]" SLEW = SLOW;
NET "SIGNALS[111]" SLEW = SLOW;
NET "SIGNALS[110]" SLEW = SLOW;
NET "SIGNALS[109]" SLEW = SLOW;
NET "SIGNALS[108]" SLEW = SLOW;
NET "SIGNALS[107]" SLEW = SLOW;
NET "SIGNALS[106]" SLEW = SLOW;
NET "SIGNALS[105]" SLEW = SLOW;
NET "SIGNALS[104]" SLEW = SLOW;
NET "SIGNALS[103]" SLEW = SLOW;
NET "SIGNALS[102]" SLEW = SLOW;
NET "SIGNALS[101]" SLEW = SLOW;
NET "SIGNALS[100]" SLEW = SLOW;
NET "SIGNALS[99]" SLEW = SLOW;
NET "SIGNALS[98]" SLEW = SLOW;
NET "SIGNALS[97]" SLEW = SLOW;
NET "SIGNALS[96]" SLEW = SLOW;
NET "SIGNALS[95]" SLEW = SLOW;
NET "SIGNALS[94]" SLEW = SLOW;
NET "SIGNALS[93]" SLEW = SLOW;
NET "SIGNALS[92]" SLEW = SLOW;
NET "SIGNALS[91]" SLEW = SLOW;
NET "SIGNALS[90]" SLEW = SLOW;
NET "SIGNALS[89]" SLEW = SLOW;
NET "SIGNALS[88]" SLEW = SLOW;
NET "SIGNALS[87]" SLEW = SLOW;
NET "SIGNALS[86]" SLEW = SLOW;
NET "SIGNALS[85]" SLEW = SLOW;
NET "SIGNALS[84]" SLEW = SLOW;
NET "SIGNALS[83]" SLEW = SLOW;
NET "SIGNALS[82]" SLEW = SLOW;
NET "SIGNALS[81]" SLEW = SLOW;
NET "SIGNALS[80]" SLEW = SLOW;
NET "SIGNALS[79]" SLEW = SLOW;
NET "SIGNALS[78]" SLEW = SLOW;
NET "SIGNALS[77]" SLEW = SLOW;
NET "SIGNALS[76]" SLEW = SLOW;
NET "SIGNALS[75]" SLEW = SLOW;
NET "SIGNALS[74]" SLEW = SLOW;
NET "SIGNALS[73]" SLEW = SLOW;
NET "SIGNALS[72]" SLEW = SLOW;
NET "SIGNALS[71]" SLEW = SLOW;
NET "SIGNALS[70]" SLEW = SLOW;
NET "SIGNALS[69]" SLEW = SLOW;
NET "SIGNALS[68]" SLEW = SLOW;
NET "SIGNALS[67]" SLEW = SLOW;
NET "SIGNALS[66]" SLEW = SLOW;
NET "SIGNALS[65]" SLEW = SLOW;
NET "SIGNALS[64]" SLEW = SLOW;
NET "SIGNALS[63]" SLEW = SLOW;
NET "SIGNALS[62]" SLEW = SLOW;
NET "SIGNALS[61]" SLEW = SLOW;
NET "SIGNALS[60]" SLEW = SLOW;
NET "SIGNALS[59]" SLEW = SLOW;
NET "SIGNALS[58]" SLEW = SLOW;
NET "SIGNALS[57]" SLEW = SLOW;
NET "SIGNALS[56]" SLEW = SLOW;
NET "SIGNALS[55]" SLEW = SLOW;
NET "SIGNALS[54]" SLEW = SLOW;
NET "SIGNALS[53]" SLEW = SLOW;
NET "SIGNALS[52]" SLEW = SLOW;
NET "SIGNALS[51]" SLEW = SLOW;
NET "SIGNALS[50]" SLEW = SLOW;
NET "SIGNALS[49]" SLEW = SLOW;
NET "SIGNALS[48]" SLEW = SLOW;
NET "SIGNALS[47]" SLEW = SLOW;
NET "SIGNALS[46]" SLEW = SLOW;
NET "SIGNALS[45]" SLEW = SLOW;
NET "SIGNALS[44]" SLEW = SLOW;
NET "SIGNALS[43]" SLEW = SLOW;
NET "SIGNALS[42]" SLEW = SLOW;
NET "SIGNALS[41]" SLEW = SLOW;
NET "SIGNALS[40]" SLEW = SLOW;
NET "SIGNALS[39]" SLEW = SLOW;
NET "SIGNALS[38]" SLEW = SLOW;
NET "SIGNALS[37]" SLEW = SLOW;
NET "SIGNALS[36]" SLEW = SLOW;
NET "SIGNALS[35]" SLEW = SLOW;
NET "SIGNALS[34]" SLEW = SLOW;
NET "SIGNALS[33]" SLEW = SLOW;
NET "SIGNALS[32]" SLEW = SLOW;
NET "SIGNALS[31]" SLEW = SLOW;
NET "SIGNALS[30]" SLEW = SLOW;
NET "SIGNALS[29]" SLEW = SLOW;
NET "SIGNALS[28]" SLEW = SLOW;
NET "SIGNALS[27]" SLEW = SLOW;
NET "SIGNALS[26]" SLEW = SLOW;
NET "SIGNALS[25]" SLEW = SLOW;
NET "SIGNALS[24]" SLEW = SLOW;
NET "SIGNALS[23]" SLEW = SLOW;
NET "SIGNALS[22]" SLEW = SLOW;
NET "SIGNALS[21]" SLEW = SLOW;
NET "SIGNALS[20]" SLEW = SLOW;
NET "SIGNALS[19]" SLEW = SLOW;
NET "SIGNALS[18]" SLEW = SLOW;
NET "SIGNALS[17]" SLEW = SLOW;
NET "SIGNALS[16]" SLEW = SLOW;
NET "SIGNALS[15]" SLEW = SLOW;
NET "SIGNALS[14]" SLEW = SLOW;
NET "SIGNALS[13]" SLEW = SLOW;
NET "SIGNALS[12]" SLEW = SLOW;
NET "SIGNALS[11]" SLEW = SLOW;
NET "SIGNALS[10]" SLEW = SLOW;
NET "SIGNALS[9]" SLEW = SLOW;
NET "SIGNALS[8]" SLEW = SLOW;
NET "SIGNALS[7]" SLEW = SLOW;
NET "SIGNALS[6]" SLEW = SLOW;
NET "SIGNALS[5]" SLEW = SLOW;
NET "SIGNALS[4]" SLEW = SLOW;
NET "SIGNALS[3]" SLEW = SLOW;
NET "SIGNALS[2]" SLEW = SLOW;
NET "SIGNALS[1]" SLEW = SLOW;
NET "SIGNALS[0]" SLEW = SLOW;

NET "COUNTER_CLK_1" DRIVE = 24;
NET "COUNTER_CLK_1" SLEW = FAST;
NET "COUNTER_CLK_2" DRIVE = 24;
NET "COUNTER_CLK_2" SLEW = FAST;
NET "COUNTER_CLK_3" DRIVE = 24;
NET "COUNTER_CLK_3" SLEW = FAST;
NET "COUNTER_CLK_4" DRIVE = 24;
NET "COUNTER_CLK_4" SLEW = FAST;
NET "WE_BAR_1" SLEW = FAST;
NET "WE_BAR_2" SLEW = FAST;
NET "WE_BAR_3" SLEW = FAST;
NET "WE_BAR_4" SLEW = FAST;
NET "TX" SLEW = FAST;
NET "VT_EN" SLEW = FAST;
NET "STCP" SLEW = FAST;
NET "SHCP" SLEW = FAST;
NET "PL_BAR" SLEW = FAST;
NET "OE_BAR" SLEW = FAST;
NET "MR_BAR" SLEW = FAST;
NET "CS_BAR_1" SLEW = FAST;
NET "CS_BAR_2" SLEW = FAST;
NET "CS_BAR_3" SLEW = FAST;
NET "CS_BAR_4" SLEW = FAST;
NET "COUNTER_RST" SLEW = FAST;
NET "COUNTER_RST" DRIVE = 24;
NET "CS_BAR_1" DRIVE = 24;
NET "CS_BAR_2" DRIVE = 24;
NET "CS_BAR_3" DRIVE = 24;
NET "CS_BAR_4" DRIVE = 24;
NET "MR_BAR" DRIVE = 24;
NET "OE_BAR" DRIVE = 24;
NET "PL_BAR" DRIVE = 24;
NET "SHCP" DRIVE = 24;
NET "STCP" DRIVE = 24;
NET "TX" DRIVE = 24;
NET "WE_BAR_1" DRIVE = 24;
NET "WE_BAR_2" DRIVE = 24;
NET "WE_BAR_3" DRIVE = 24;
NET "WE_BAR_4" DRIVE = 24;
NET "VT_EN" DRIVE = 24;

NET "SIGNALS[127]" DRIVE = 16;
NET "SIGNALS[126]" DRIVE = 16;
NET "SIGNALS[125]" DRIVE = 16;
NET "SIGNALS[124]" DRIVE = 16;
NET "SIGNALS[123]" DRIVE = 16;
NET "SIGNALS[122]" DRIVE = 16;
NET "SIGNALS[121]" DRIVE = 16;
NET "SIGNALS[120]" DRIVE = 16;
NET "SIGNALS[119]" DRIVE = 16;
NET "SIGNALS[118]" DRIVE = 16;
NET "SIGNALS[117]" DRIVE = 16;
NET "SIGNALS[116]" DRIVE = 16;
NET "SIGNALS[115]" DRIVE = 16;
NET "SIGNALS[114]" DRIVE = 16;
NET "SIGNALS[113]" DRIVE = 16;
NET "SIGNALS[112]" DRIVE = 16;
NET "SIGNALS[111]" DRIVE = 16;
NET "SIGNALS[110]" DRIVE = 16;
NET "SIGNALS[109]" DRIVE = 16;
NET "SIGNALS[108]" DRIVE = 16;
NET "SIGNALS[107]" DRIVE = 16;
NET "SIGNALS[106]" DRIVE = 16;
NET "SIGNALS[105]" DRIVE = 16;
NET "SIGNALS[104]" DRIVE = 16;
NET "SIGNALS[103]" DRIVE = 16;
NET "SIGNALS[102]" DRIVE = 16;
NET "SIGNALS[101]" DRIVE = 16;
NET "SIGNALS[100]" DRIVE = 16;
NET "SIGNALS[99]" DRIVE = 16;
NET "SIGNALS[98]" DRIVE = 16;
NET "SIGNALS[97]" DRIVE = 16;
NET "SIGNALS[96]" DRIVE = 16;
NET "SIGNALS[95]" DRIVE = 16;
NET "SIGNALS[94]" DRIVE = 16;
NET "SIGNALS[93]" DRIVE = 16;
NET "SIGNALS[92]" DRIVE = 16;
NET "SIGNALS[91]" DRIVE = 16;
NET "SIGNALS[90]" DRIVE = 16;
NET "SIGNALS[89]" DRIVE = 16;
NET "SIGNALS[88]" DRIVE = 16;
NET "SIGNALS[87]" DRIVE = 16;
NET "SIGNALS[86]" DRIVE = 16;
NET "SIGNALS[85]" DRIVE = 16;
NET "SIGNALS[84]" DRIVE = 16;
NET "SIGNALS[83]" DRIVE = 16;
NET "SIGNALS[82]" DRIVE = 16;
NET "SIGNALS[81]" DRIVE = 16;
NET "SIGNALS[80]" DRIVE = 16;
NET "SIGNALS[79]" DRIVE = 16;
NET "SIGNALS[78]" DRIVE = 16;
NET "SIGNALS[77]" DRIVE = 16;
NET "SIGNALS[76]" DRIVE = 16;
NET "SIGNALS[75]" DRIVE = 16;
NET "SIGNALS[74]" DRIVE = 16;
NET "SIGNALS[73]" DRIVE = 16;
NET "SIGNALS[72]" DRIVE = 16;
NET "SIGNALS[71]" DRIVE = 16;
NET "SIGNALS[70]" DRIVE = 16;
NET "SIGNALS[69]" DRIVE = 16;
NET "SIGNALS[68]" DRIVE = 16;
NET "SIGNALS[67]" DRIVE = 16;
NET "SIGNALS[66]" DRIVE = 16;
NET "SIGNALS[65]" DRIVE = 16;
NET "SIGNALS[64]" DRIVE = 16;
NET "SIGNALS[63]" DRIVE = 16;
NET "SIGNALS[62]" DRIVE = 16;
NET "SIGNALS[61]" DRIVE = 16;
NET "SIGNALS[60]" DRIVE = 16;
NET "SIGNALS[59]" DRIVE = 16;
NET "SIGNALS[58]" DRIVE = 16;
NET "SIGNALS[57]" DRIVE = 16;
NET "SIGNALS[56]" DRIVE = 16;
NET "SIGNALS[55]" DRIVE = 16;
NET "SIGNALS[54]" DRIVE = 16;
NET "SIGNALS[53]" DRIVE = 16;
NET "SIGNALS[52]" DRIVE = 16;
NET "SIGNALS[51]" DRIVE = 16;
NET "SIGNALS[50]" DRIVE = 16;
NET "SIGNALS[49]" DRIVE = 16;
NET "SIGNALS[48]" DRIVE = 16;
NET "SIGNALS[47]" DRIVE = 16;
NET "SIGNALS[46]" DRIVE = 16;
NET "SIGNALS[45]" DRIVE = 16;
NET "SIGNALS[44]" DRIVE = 16;
NET "SIGNALS[43]" DRIVE = 16;
NET "SIGNALS[42]" DRIVE = 16;
NET "SIGNALS[41]" DRIVE = 16;
NET "SIGNALS[40]" DRIVE = 16;
NET "SIGNALS[39]" DRIVE = 16;
NET "SIGNALS[38]" DRIVE = 16;
NET "SIGNALS[37]" DRIVE = 16;
NET "SIGNALS[36]" DRIVE = 16;
NET "SIGNALS[35]" DRIVE = 16;
NET "SIGNALS[34]" DRIVE = 16;
NET "SIGNALS[33]" DRIVE = 16;
NET "SIGNALS[32]" DRIVE = 16;
NET "SIGNALS[31]" DRIVE = 16;
NET "SIGNALS[30]" DRIVE = 16;
NET "SIGNALS[29]" DRIVE = 16;
NET "SIGNALS[28]" DRIVE = 16;
NET "SIGNALS[27]" DRIVE = 16;
NET "SIGNALS[26]" DRIVE = 16;
NET "SIGNALS[25]" DRIVE = 16;
NET "SIGNALS[24]" DRIVE = 16;
NET "SIGNALS[23]" DRIVE = 16;
NET "SIGNALS[22]" DRIVE = 16;
NET "SIGNALS[21]" DRIVE = 16;
NET "SIGNALS[20]" DRIVE = 16;
NET "SIGNALS[19]" DRIVE = 16;
NET "SIGNALS[18]" DRIVE = 16;
NET "SIGNALS[17]" DRIVE = 16;
NET "SIGNALS[16]" DRIVE = 16;
NET "SIGNALS[15]" DRIVE = 16;
NET "SIGNALS[14]" DRIVE = 16;
NET "SIGNALS[13]" DRIVE = 16;
NET "SIGNALS[12]" DRIVE = 16;
NET "SIGNALS[11]" DRIVE = 16;
NET "SIGNALS[10]" DRIVE = 16;
NET "SIGNALS[9]" DRIVE = 16;
NET "SIGNALS[8]" DRIVE = 16;
NET "SIGNALS[7]" DRIVE = 16;
NET "SIGNALS[6]" DRIVE = 16;
NET "SIGNALS[5]" DRIVE = 16;
NET "SIGNALS[4]" DRIVE = 16;
NET "SIGNALS[3]" DRIVE = 16;
NET "SIGNALS[2]" DRIVE = 16;
NET "SIGNALS[1]" DRIVE = 16;
NET "SIGNALS[0]" DRIVE = 16;

# PlanAhead Generated physical constraints 

NET "CLK" LOC = V10;
NET "CS_BAR_1" LOC = V13;
NET "OE_BAR" LOC = N11;
NET "WE_BAR_1" LOC = K13;
NET "VT_EN" LOC = M13;
NET "COUNTER_RST" LOC = N14;
NET "COUNTER_CLK_1" LOC = L16;
NET "CS_BAR_4" LOC = N16;
NET "WE_BAR_4" LOC = P16;
NET "MR_BAR" LOC = U18;
NET "PL_BAR" LOC = V15;
NET "STCP" LOC = N9;
NET "CS_BAR_2" LOC = T8;
NET "SHCP" LOC = V11;
NET "WE_BAR_2" LOC = N8;
NET "COUNTER_CLK_2" LOC = V8;
NET "CS_BAR_3" LOC = P7;
NET "WE_BAR_3" LOC = V6;
NET "COUNTER_CLK_3" LOC = V5;
NET "COUNTER_CLK_4" LOC = V4;
NET "RST" LOC = U5;
NET "Q" LOC = T6;
NET "RX" LOC = N6;
NET "TX" LOC = U8;
NET "SIGNALS[125]" LOC = M8;
NET "SIGNALS[124]" LOC = R8;
NET "SIGNALS[123]" LOC = M10;
NET "SIGNALS[122]" LOC = U11;
NET "SIGNALS[121]" LOC = K12;
NET "SIGNALS[120]" LOC = L14;
NET "SIGNALS[119]" LOC = M14;
NET "SIGNALS[118]" LOC = L15;
NET "SIGNALS[117]" LOC = N15;
NET "SIGNALS[116]" LOC = P15;
NET "SIGNALS[115]" LOC = U17;
NET "SIGNALS[114]" LOC = U15;
NET "SIGNALS[113]" LOC = U13;
NET "SIGNALS[112]" LOC = M11;
NET "SIGNALS[111]" LOC = V9;
NET "SIGNALS[110]" LOC = T10;
NET "SIGNALS[109]" LOC = P11;
NET "SIGNALS[108]" LOC = T11;
NET "SIGNALS[107]" LOC = V12;
NET "SIGNALS[106]" LOC = V14;
NET "SIGNALS[105]" LOC = V16;
NET "SIGNALS[104]" LOC = T18;
NET "SIGNALS[103]" LOC = K16;
NET "SIGNALS[102]" LOC = L13;
NET "SIGNALS[101]" LOC = P8;
NET "SIGNALS[100]" LOC = V7;
NET "SIGNALS[99]" LOC = T7;
NET "SIGNALS[98]" LOC = P6;
NET "SIGNALS[97]" LOC = T5;
NET "SIGNALS[96]" LOC = T3;
NET "SIGNALS[95]" LOC = R3;
NET "SIGNALS[94]" LOC = R5;
NET "SIGNALS[93]" LOC = N5;
NET "SIGNALS[92]" LOC = R7;
NET "SIGNALS[91]" LOC = U7;
NET "SIGNALS[90]" LOC = N7;
NET "SIGNALS[89]" LOC = T9;
NET "SIGNALS[88]" LOC = R10;
NET "SIGNALS[87]" LOC = N10;
NET "SIGNALS[86]" LOC = R11;
NET "SIGNALS[85]" LOC = T12;
NET "SIGNALS[84]" LOC = T14;
NET "SIGNALS[83]" LOC = U16;
NET "SIGNALS[82]" LOC = T17;
NET "SIGNALS[81]" LOC = K15;
NET "SIGNALS[80]" LOC = L12;
NET "SIGNALS[79]" LOC = A3;
NET "SIGNALS[78]" LOC = A5;
NET "SIGNALS[77]" LOC = A6;
NET "SIGNALS[76]" LOC = E6;
NET "SIGNALS[75]" LOC = C8;
NET "SIGNALS[74]" LOC = F8;
NET "SIGNALS[73]" LOC = C9;
NET "SIGNALS[72]" LOC = A10;
NET "SIGNALS[71]" LOC = F10;
NET "SIGNALS[70]" LOC = E11;
NET "SIGNALS[68]" LOC = A13;
NET "SIGNALS[69]" LOC = C12;
NET "SIGNALS[67]" LOC = A14;
NET "SIGNALS[66]" LOC = A15;
NET "SIGNALS[65]" LOC = C18;
NET "SIGNALS[64]" LOC = E18;
NET "SIGNALS[63]" LOC = F16;
NET "SIGNALS[62]" LOC = G14;
NET "SIGNALS[61]" LOC = H16;
NET "SIGNALS[60]" LOC = G13;
NET "SIGNALS[59]" LOC = D12;
NET "SIGNALS[58]" LOC = C13;
NET "SIGNALS[57]" LOC = B14;
NET "SIGNALS[56]" LOC = C15;
NET "SIGNALS[55]" LOC = C17;
NET "SIGNALS[54]" LOC = E16;
NET "SIGNALS[53]" LOC = F15;
NET "SIGNALS[52]" LOC = F14;
NET "SIGNALS[51]" LOC = H15;
NET "SIGNALS[50]" LOC = H12;
NET "SIGNALS[49]" LOC = B3;
NET "SIGNALS[48]" LOC = C5;
NET "SIGNALS[47]" LOC = B6;
NET "SIGNALS[46]" LOC = F7;
NET "SIGNALS[45]" LOC = D8;
NET "SIGNALS[44]" LOC = G8;
NET "SIGNALS[43]" LOC = D9;
NET "SIGNALS[42]" LOC = C10;
NET "SIGNALS[41]" LOC = G11;
NET "SIGNALS[40]" LOC = F11;
NET "SIGNALS[39]" LOC = C11;
NET "SIGNALS[38]" LOC = A11;
NET "SIGNALS[37]" LOC = F9;
NET "SIGNALS[36]" LOC = A9;
NET "SIGNALS[35]" LOC = E8;
NET "SIGNALS[34]" LOC = A8;
NET "SIGNALS[33]" LOC = A7;
NET "SIGNALS[32]" LOC = C6;
NET "SIGNALS[31]" LOC = A4;
NET "SIGNALS[30]" LOC = A2;
NET "SIGNALS[29]" LOC = K14;
NET "SIGNALS[28]" LOC = H14;
NET "SIGNALS[27]" LOC = G18;
NET "SIGNALS[26]" LOC = F18;
NET "SIGNALS[25]" LOC = D18;
NET "SIGNALS[24]" LOC = A16;
NET "SIGNALS[23]" LOC = C14;
NET "SIGNALS[22]" LOC = E13;
NET "SIGNALS[21]" LOC = E12;
NET "SIGNALS[20]" LOC = A12;
NET "SIGNALS[19]" LOC = J13;
NET "SIGNALS[18]" LOC = H13;
NET "SIGNALS[17]" LOC = G16;
NET "SIGNALS[16]" LOC = F17;
NET "SIGNALS[15]" LOC = D17;
NET "SIGNALS[14]" LOC = B16;
NET "SIGNALS[13]" LOC = D14;
NET "SIGNALS[12]" LOC = F13;
NET "SIGNALS[11]" LOC = F12;
NET "SIGNALS[10]" LOC = B12;
NET "SIGNALS[9]" LOC = D11;
NET "SIGNALS[8]" LOC = B11;
NET "SIGNALS[7]" LOC = G9;
NET "SIGNALS[6]" LOC = B9;
NET "SIGNALS[5]" LOC = E7;
NET "SIGNALS[3]" LOC = C7;
NET "SIGNALS[4]" LOC = B8;
NET "SIGNALS[2]" LOC = D6;
NET "SIGNALS[1]" LOC = B4;
NET "SIGNALS[0]" LOC = B2;
