//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 07 19:35:38 2016
//! **************************************************************************

SCHEMATIC START;
COMP "TXTRANSMIT" LOCATE = SITE "F15" LEVEL 1;
COMP "RXDATA_RETRIEVED" LOCATE = SITE "V10" LEVEL 1;
COMP "TXSENT" LOCATE = SITE "V9" LEVEL 1;
COMP "RXDATA_READY" LOCATE = SITE "T8" LEVEL 1;
COMP "RXDATA<0>" LOCATE = SITE "V4" LEVEL 1;
COMP "RXDATA<1>" LOCATE = SITE "U3" LEVEL 1;
COMP "RXDATA<2>" LOCATE = SITE "V1" LEVEL 1;
COMP "TXCAPTURE" LOCATE = SITE "R10" LEVEL 1;
COMP "RX" LOCATE = SITE "B13" LEVEL 1;
COMP "RXDATA<3>" LOCATE = SITE "R1" LEVEL 1;
COMP "ACKNOWLEDGE" LOCATE = SITE "T16" LEVEL 1;
COMP "TXDATA<0>" LOCATE = SITE "U4" LEVEL 1;
COMP "RXDATA<4>" LOCATE = SITE "P5" LEVEL 1;
COMP "TX" LOCATE = SITE "F14" LEVEL 1;
COMP "TXDATA<1>" LOCATE = SITE "V2" LEVEL 1;
COMP "RXDATA<5>" LOCATE = SITE "U1" LEVEL 1;
COMP "TXDATA<2>" LOCATE = SITE "U2" LEVEL 1;
COMP "RXDATA<6>" LOCATE = SITE "R2" LEVEL 1;
COMP "TXDATA<3>" LOCATE = SITE "T3" LEVEL 1;
COMP "RXDATA<7>" LOCATE = SITE "P2" LEVEL 1;
COMP "TXDATA<4>" LOCATE = SITE "T1" LEVEL 1;
COMP "TXDATA<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "TXDATA<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "TXDATA<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "RST" LOCATE = SITE "E16" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

