//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 08 15:45:15 2015
//! **************************************************************************

SCHEMATIC START;
COMP "DATA" LOCATE = SITE "U9" LEVEL 1;
COMP "FF<0>" LOCATE = SITE "U8" LEVEL 1;
COMP "FF<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "OUT" LOCATE = SITE "K2" LEVEL 1;
COMP "CLK_ENABLE" LOCATE = SITE "P4" LEVEL 1;
COMP "RST" LOCATE = SITE "E16" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

