
# PlanAhead Generated IO constraints 

NET "FF[1]" IOSTANDARD = LVCMOS33;
NET "FF[0]" IOSTANDARD = LVCMOS33;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "CLK_ENABLE" IOSTANDARD = LVCMOS33;
NET "DATA" IOSTANDARD = LVCMOS33;
NET "OUT" IOSTANDARD = LVCMOS33;
NET "RST" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "RST" LOC = E16;
NET "CLK_ENABLE" LOC = P4;
NET "CLK" LOC = E3;
NET "FF[1]" LOC = R7;
NET "FF[0]" LOC = U8;
NET "DATA" LOC = U9;
NET "OUT" LOC = K2;
