//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 04 21:54:24 2015
//! **************************************************************************

SCHEMATIC START;
COMP "LOW_LEVEL_LIMIT<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<3>" LOCATE = SITE "R6" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<4>" LOCATE = SITE "R5" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<5>" LOCATE = SITE "V7" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<6>" LOCATE = SITE "V6" LEVEL 1;
COMP "INIT" LOCATE = SITE "V10" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<0>" LOCATE = SITE "V2" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<1>" LOCATE = SITE "U2" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<2>" LOCATE = SITE "T3" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<3>" LOCATE = SITE "T1" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<4>" LOCATE = SITE "R3" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<5>" LOCATE = SITE "P3" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "RST" LOCATE = SITE "E16" LEVEL 1;
COMP "OUT1" LOCATE = SITE "B13" LEVEL 1;
COMP "OUT2" LOCATE = SITE "F14" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<0>" LOCATE = SITE "U9" LEVEL 1;
TIMEGRP OUTs = BEL "OUT1" BEL "OUT2";
NET "clk2_sel" MAXSKEW = 0.15 ns;
NET "clk1_sel" MAXSKEW = 0.15 ns;
SCHEMATIC END;

