//! **************************************************************************
// Written by: Map P.20131013 on Sun Nov 15 23:25:41 2015
//! **************************************************************************

SCHEMATIC START;
COMP "LOW_LEVEL_LIMIT<1>" LOCATE = SITE "E6" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<2>" LOCATE = SITE "C8" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<3>" LOCATE = SITE "F8" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<4>" LOCATE = SITE "C9" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<5>" LOCATE = SITE "A10" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<6>" LOCATE = SITE "F10" LEVEL 1;
COMP "INIT" LOCATE = SITE "H16" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<0>" LOCATE = SITE "C12" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<1>" LOCATE = SITE "A13" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<2>" LOCATE = SITE "A14" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<3>" LOCATE = SITE "A15" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<4>" LOCATE = SITE "C18" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<5>" LOCATE = SITE "E18" LEVEL 1;
COMP "HIGH_LEVEL_LIMIT<6>" LOCATE = SITE "F16" LEVEL 1;
COMP "RST" LOCATE = SITE "G13" LEVEL 1;
COMP "OUT1" LOCATE = SITE "N5" LEVEL 1;
COMP "OUT2" LOCATE = SITE "P6" LEVEL 1;
COMP "OUT3" LOCATE = SITE "T6" LEVEL 1;
COMP "OUT4" LOCATE = SITE "V6" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
COMP "LOW_LEVEL_LIMIT<0>" LOCATE = SITE "A6" LEVEL 1;
TIMEGRP CLK_MULTIPLIER_0_clkout0 = BEL "RECONF_PULSE_GEN_3/LOW_COUNTER_0" BEL
        "RECONF_PULSE_GEN_3/LOW_COUNTER_1" BEL
        "RECONF_PULSE_GEN_3/LOW_COUNTER_2" BEL
        "RECONF_PULSE_GEN_3/LOW_COUNTER_3" BEL
        "RECONF_PULSE_GEN_3/LOW_COUNTER_4" BEL
        "RECONF_PULSE_GEN_3/LOW_COUNTER_5" BEL
        "RECONF_PULSE_GEN_3/LOW_COUNTER_6" BEL
        "RECONF_PULSE_GEN_3/HIGH_COUNTER_0" BEL
        "RECONF_PULSE_GEN_3/HIGH_COUNTER_1" BEL
        "RECONF_PULSE_GEN_3/HIGH_COUNTER_2" BEL
        "RECONF_PULSE_GEN_3/HIGH_COUNTER_3" BEL
        "RECONF_PULSE_GEN_3/HIGH_COUNTER_4" BEL
        "RECONF_PULSE_GEN_3/HIGH_COUNTER_5" BEL
        "RECONF_PULSE_GEN_3/HIGH_COUNTER_6" BEL
        "RECONF_PULSE_GEN_2/LOW_COUNTER_2" BEL
        "RECONF_PULSE_GEN_2/LOW_COUNTER_0" BEL
        "RECONF_PULSE_GEN_2/LOW_COUNTER_1" BEL
        "RECONF_PULSE_GEN_2/LOW_COUNTER_3" BEL
        "RECONF_PULSE_GEN_2/LOW_COUNTER_4" BEL
        "RECONF_PULSE_GEN_2/LOW_COUNTER_5" BEL
        "RECONF_PULSE_GEN_2/LOW_COUNTER_6" BEL
        "RECONF_PULSE_GEN_2/HIGH_COUNTER_0" BEL
        "RECONF_PULSE_GEN_2/HIGH_COUNTER_1" BEL
        "RECONF_PULSE_GEN_2/HIGH_COUNTER_2" BEL
        "RECONF_PULSE_GEN_2/HIGH_COUNTER_3" BEL
        "RECONF_PULSE_GEN_2/HIGH_COUNTER_4" BEL
        "RECONF_PULSE_GEN_2/HIGH_COUNTER_5" BEL
        "RECONF_PULSE_GEN_2/HIGH_COUNTER_6" BEL
        "RECONF_PULSE_GEN_1/LOW_COUNTER_0" BEL
        "RECONF_PULSE_GEN_1/LOW_COUNTER_1" BEL
        "RECONF_PULSE_GEN_1/LOW_COUNTER_2" BEL
        "RECONF_PULSE_GEN_1/LOW_COUNTER_5" BEL
        "RECONF_PULSE_GEN_1/LOW_COUNTER_3" BEL
        "RECONF_PULSE_GEN_1/LOW_COUNTER_4" BEL
        "RECONF_PULSE_GEN_1/LOW_COUNTER_6" BEL
        "RECONF_PULSE_GEN_1/HIGH_COUNTER_0" BEL
        "RECONF_PULSE_GEN_1/HIGH_COUNTER_1" BEL
        "RECONF_PULSE_GEN_1/HIGH_COUNTER_2" BEL
        "RECONF_PULSE_GEN_1/HIGH_COUNTER_3" BEL
        "RECONF_PULSE_GEN_1/HIGH_COUNTER_4" BEL
        "RECONF_PULSE_GEN_1/HIGH_COUNTER_5" BEL
        "RECONF_PULSE_GEN_1/HIGH_COUNTER_6" BEL
        "RECONF_PULSE_GEN_0/LOW_COUNTER_0" BEL
        "RECONF_PULSE_GEN_0/LOW_COUNTER_1" BEL
        "RECONF_PULSE_GEN_0/LOW_COUNTER_2" BEL
        "RECONF_PULSE_GEN_0/LOW_COUNTER_3" BEL
        "RECONF_PULSE_GEN_0/LOW_COUNTER_4" BEL
        "RECONF_PULSE_GEN_0/LOW_COUNTER_5" BEL
        "RECONF_PULSE_GEN_0/HIGH_COUNTER_1" BEL
        "RECONF_PULSE_GEN_0/LOW_COUNTER_6" BEL
        "RECONF_PULSE_GEN_0/HIGH_COUNTER_0" BEL
        "RECONF_PULSE_GEN_0/HIGH_COUNTER_2" BEL
        "RECONF_PULSE_GEN_0/HIGH_COUNTER_3" BEL
        "RECONF_PULSE_GEN_0/HIGH_COUNTER_4" BEL
        "RECONF_PULSE_GEN_0/HIGH_COUNTER_5" BEL
        "RECONF_PULSE_GEN_0/HIGH_COUNTER_6" BEL "SYNCHRONIZER_0/counter_0" BEL
        "SYNCHRONIZER_0/counter_1" BEL "SYNCHRONIZER_0/counter_2" BEL
        "SYNCHRONIZER_0/counter_3" BEL "SYNCHRONIZER_0/counter_4" BEL
        "SYNCHRONIZER_0/counter_5" BEL "SYNCHRONIZER_0/counter_6" BEL
        "SYNCHRONIZER_0/counter_7" BEL "SYNCHRONIZER_0/counter_8" BEL
        "SYNCHRONIZER_0/counter_9" BEL "RECONF_PULSE_GEN_3/PS_FSM_FFd3" BEL
        "RECONF_PULSE_GEN_3/PS_FSM_FFd2" BEL "RECONF_PULSE_GEN_3/PS_FSM_FFd1"
        BEL "RECONF_PULSE_GEN_2/PS_FSM_FFd3" BEL
        "RECONF_PULSE_GEN_2/PS_FSM_FFd1" BEL "RECONF_PULSE_GEN_1/PS_FSM_FFd3"
        BEL "RECONF_PULSE_GEN_0/PS_FSM_FFd3" BEL
        "RECONF_PULSE_GEN_1/PS_FSM_FFd1" BEL "RECONF_PULSE_GEN_0/PS_FSM_FFd1"
        BEL "RECONF_PULSE_GEN_3/DELAY_COUNTER_0" BEL
        "RECONF_PULSE_GEN_3/DELAY_COUNTER_1" BEL
        "RECONF_PULSE_GEN_1/DELAY_COUNTER_0" BEL
        "RECONF_PULSE_GEN_1/DELAY_COUNTER_1" BEL
        "RECONF_PULSE_GEN_1/DELAY_COUNTER_2" BEL
        "CLK_MULTIPLIER_0/clkout1_buf" BEL "SYNCHRONIZER_0/PROCEED";
PIN SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0> = BEL
        "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0" PINNAME DIVCLK;
PIN CLK_MULTIPLIER_0/pll_base_inst/PLL_ADV_pins<2> = BEL
        "CLK_MULTIPLIER_0/pll_base_inst/PLL_ADV" PINNAME CLKIN1;
TIMEGRP CLK = PIN "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0>" PIN
        "CLK_MULTIPLIER_0/pll_base_inst/PLL_ADV_pins<2>";
NET "clk4_mux_out" MAXSKEW = 0.3 ns;
NET "clk3_mux_out" MAXSKEW = 0.3 ns;
NET "clk2_mux_out" MAXSKEW = 0.3 ns;
NET "clk1_mux_out" MAXSKEW = 0.3 ns;
NET "SYNCHRONIZER_0/PROCEED" MAXSKEW = 0.3 ns;
TS_CLK = PERIOD TIMEGRP "CLK" 10 ns HIGH 50% INPUT_JITTER 0.1 ns;
TS_CLK_MULTIPLIER_0_clkout0 = PERIOD TIMEGRP "CLK_MULTIPLIER_0_clkout0" TS_CLK
        / 4 HIGH 50% INPUT_JITTER 0.1 ns;
SCHEMATIC END;

