NET "CLK" IOSTANDARD = LVCMOS33;
NET "INIT" IOSTANDARD = LVCMOS33;
NET "OUT1" IOSTANDARD = LVCMOS33;
NET "OUT2" IOSTANDARD = LVCMOS33;
NET "RST" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[6]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[5]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[4]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[3]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[2]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[1]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[0]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[6]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[5]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[4]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[3]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[2]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[1]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[0]" IOSTANDARD = LVCMOS33;

NET "CLK" LOC = E3;
NET "INIT" LOC = V10;
NET "RST" LOC = E16;
NET "HIGH_LEVEL_LIMIT[6]" LOC = P4;
NET "HIGH_LEVEL_LIMIT[5]" LOC = P3;
NET "HIGH_LEVEL_LIMIT[4]" LOC = R3;
NET "HIGH_LEVEL_LIMIT[3]" LOC = T1;
NET "HIGH_LEVEL_LIMIT[2]" LOC = T3;
NET "HIGH_LEVEL_LIMIT[1]" LOC = U2;
NET "HIGH_LEVEL_LIMIT[0]" LOC = V2;
NET "LOW_LEVEL_LIMIT[0]" LOC = U9;
NET "LOW_LEVEL_LIMIT[1]" LOC = U8;
NET "LOW_LEVEL_LIMIT[2]" LOC = R7;
NET "LOW_LEVEL_LIMIT[3]" LOC = R6;
NET "LOW_LEVEL_LIMIT[4]" LOC = R5;
NET "LOW_LEVEL_LIMIT[5]" LOC = V7;
NET "LOW_LEVEL_LIMIT[6]" LOC = V6;

# PlanAhead Generated IO constraints 
NET "OUT1" SLEW = FAST;
NET "OUT1" DRIVE = 16;
NET "OUT2" SLEW = FAST;
NET "OUT2" DRIVE = 16;

# PlanAhead Generated physical constraints 
NET "OUT1" LOC = B13;
NET "OUT2" LOC = F14;

#Created by Constraints Editor (xc7a100t-csg324-3) - 2015/11/04
NET "clk2_sel" MAXSKEW = 150 ps;
NET "clk1_sel" MAXSKEW = 150 ps;
#Created by Constraints Editor (xc7a100t-csg324-3) - 2015/11/04
INST "OUT1" TNM = OUTs;
INST "OUT2" TNM = OUTs;
