
# PlanAhead Generated physical constraints 
NET "CLK" LOC = V10;

# PlanAhead Generated IO constraints 
NET "CLK" IOSTANDARD = LVCMOS33;
NET "INIT" IOSTANDARD = LVCMOS33;
NET "OUT1" IOSTANDARD = LVCMOS33;
NET "OUT2" IOSTANDARD = LVCMOS33;
NET "OUT3" IOSTANDARD = LVCMOS33;
NET "OUT4" IOSTANDARD = LVCMOS33;
NET "RST" IOSTANDARD = LVCMOS33;
NET "OUT1" SLEW = FAST;
NET "OUT2" SLEW = FAST;
NET "OUT3" SLEW = FAST;
NET "OUT4" SLEW = FAST;
NET "OUT1" DRIVE = 24;
NET "OUT2" DRIVE = 24;
NET "OUT3" DRIVE = 24;
NET "OUT4" DRIVE = 24;

# PlanAhead Generated physical constraints 
NET "OUT1" LOC = N5;
NET "OUT2" LOC = P6;
NET "OUT3" LOC = T6;
NET "OUT4" LOC = V6;

# PlanAhead Generated IO constraints 
NET "HIGH_LEVEL_LIMIT[6]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[5]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[4]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[3]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[2]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[1]" IOSTANDARD = LVCMOS33;
NET "HIGH_LEVEL_LIMIT[0]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[6]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[5]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[4]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[3]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[2]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[1]" IOSTANDARD = LVCMOS33;
NET "LOW_LEVEL_LIMIT[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 
NET "RST" LOC = G13;
NET "INIT" LOC = H16;
NET "HIGH_LEVEL_LIMIT[6]" LOC = F16;
NET "HIGH_LEVEL_LIMIT[5]" LOC = E18;
NET "HIGH_LEVEL_LIMIT[4]" LOC = C18;
NET "HIGH_LEVEL_LIMIT[3]" LOC = A15;
NET "HIGH_LEVEL_LIMIT[2]" LOC = A14;
NET "HIGH_LEVEL_LIMIT[1]" LOC = A13;
NET "HIGH_LEVEL_LIMIT[0]" LOC = C12;
NET "LOW_LEVEL_LIMIT[6]" LOC = F10;
NET "LOW_LEVEL_LIMIT[5]" LOC = A10;
NET "LOW_LEVEL_LIMIT[4]" LOC = C9;
NET "LOW_LEVEL_LIMIT[3]" LOC = F8;
NET "LOW_LEVEL_LIMIT[2]" LOC = C8;
NET "LOW_LEVEL_LIMIT[1]" LOC = E6;
NET "LOW_LEVEL_LIMIT[0]" LOC = A6;
#Created by Constraints Editor (xc6slx16-csg324-3) - 2015/11/15
NET "SYNCHRONIZER_0/PROCEED" MAXSKEW = 300 ps;
NET "clk1_mux_out" MAXSKEW = 300 ps;
NET "clk2_mux_out" MAXSKEW = 300 ps;
NET "clk3_mux_out" MAXSKEW = 300 ps;
NET "clk4_mux_out" MAXSKEW = 300 ps;

NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 10 ns HIGH 50% INPUT_JITTER 100.0ps;
