
# PlanAhead Generated physical constraints 

NET "DUTY[1]" LOC = P4;
NET "DUTY[0]" LOC = P3;

# PlanAhead Generated IO constraints 

NET "DUTY[1]" IOSTANDARD = LVCMOS33;
NET "DUTY[0]" IOSTANDARD = LVCMOS33;
NET "PERIOD[3]" IOSTANDARD = LVCMOS33;
NET "PERIOD[2]" IOSTANDARD = LVCMOS33;
NET "PERIOD[1]" IOSTANDARD = LVCMOS33;
NET "PERIOD[0]" IOSTANDARD = LVCMOS33;
NET "CLK_IN" IOSTANDARD = LVCMOS33;
NET "CLK_OUT" IOSTANDARD = LVCMOS33;
NET "RST" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "PERIOD[3]" LOC = R3;
NET "PERIOD[2]" LOC = T1;
NET "PERIOD[1]" LOC = T3;
NET "PERIOD[0]" LOC = U2;
NET "CLK_IN" LOC = E3;
NET "RST" LOC = E16;
NET "CLK_OUT" LOC = B13;
