input[type="text"] { border: 1px; border-style: solid; border-color: #000000 }

/* Not used right now. */
#t1_input_list ul{ list-style: none; }
#t2_input_list ul{ list-style: none; }
#t3_input_list ul{ list-style: none; }
#t4_input_list ul{ list-style: none; }

#t1_input_list li{ display: inline; }
#t2_input_list li{ display: inline; }
#t3_input_list li{ display: inline; }
#t4_input_list li{ display: inline; }

#t1_output_list ul{ list-style: none; }
#t2_output_list ul{ list-style: none; }
#t3_output_list ul{ list-style: none; }
#t4_output_list ul{ list-style: none; }

#t1_output_list li{ display: inline; }
#t2_output_list li{ display: inline; }
#t3_output_list li{ display: inline; }
#t4_output_list li{ display: inline; }
